.todo-list-item {
  font-size: 1.50rem;
}

.todo-list-item button {
  float:right;
  width: 100px;
  margin: 3px;
  text-align: center;
}

.todo-list-item-label {
  margin-left: 1.0rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.todo-list-item.done .todo-list-item-label {
  text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
  font-weight: bold;
  color: steelblue;
}